<h1>Edit Shelter:</h1>

<section>

  <%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>
    <h3><%= label_tag :name %>:  <%= text_field_tag :name, @shelter.name %></h3>

    <h3><%= label_tag :address %>:  <%= text_field_tag :address, @shelter.address %></h3>

    <h3><%= label_tag :city %>:  <%= text_field_tag :city, @shelter.city %></h3>

    <h3><%= label_tag :state %>:  <%= text_field_tag :state, @shelter.state %></h3>

    <h3><%= label_tag :zip %>:  <%= text_field_tag :zip, @shelter.zip %></h3>

    <h3><%= submit_tag 'Update' %></h3>
  <% end %>

</section>
