<h1>New Shelter:</h1>

<section>

<%= form_tag '/shelters', method: :post do %>
  <h3><%= label_tag :name %>:  <%= text_field_tag :name %></h3>

  <h3><%= label_tag :address %>:  <%= text_field_tag :address %></h3>

  <h3><%= label_tag :city %>:  <%= text_field_tag :city %></h3>

  <h3><%= label_tag :state %>:  <%= text_field_tag :state %></h3>

  <h3><%= label_tag :zip %>:  <%= text_field_tag :zip %></h3>

  <h3><%= submit_tag 'Create' %></h3>
<% end %>

</section>
