<h1><%= @shelter.name %> Pets</h1>

<% @pets.each do |pet| %>
  <h2>Meet <%= pet.name %>!</h2>
  <img src= <%= pet.image %>>
  <p>Approximate Age:<%= pet.age %>
  <p>Sex: <%= pet.sex %>
<% end %>
<br><br>
<%= button_to "New Pet", "/shelters/#{@shelter.id}/pets/new" %>
