<%= link_to 'Back', "/shelters" %>
<h1><%= @shelter.name %></h1>

<h3>Address:</h3>
   <p><%= @shelter.address %></p>
<h3>City:</h3>
  <p><%= @shelter.city %></p>
<h3>State:</h3>
  <p><%= @shelter.state %></p>
<h3>Zip:</h3>
  <p><%= @shelter.zip %></p>
<br>

<%= button_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
