<br>
<%= button_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
<% if @pending == 0 %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
<% end %>
<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %>:</h1>

<h2>Address:</h2>
  <p><%= @shelter.address %></p>

<h2>City:</h2>
  <p><%= @shelter.city %></p>

<h2>State:</h2>
  <p><%= @shelter.state %></p>

<h2>Zip:</h2>
  <p><%= @shelter.zip %></p>

<h2>Available Pets:</h2>
  <p><%= link_to "#{@shelter.name} Pets", "/shelters/#{@shelter.id}/pets" %></p>
  <br>
    <br>

<h1>Reviews:</h1>
<br>
<% @reviews.each do |review| %>
<section id="review-<%= review.id %>">
  <h3><%= review.title %></h3>
  <p><%= review.rating %>/5 Stars!
  <p><%= review.content %></p>
  <p><img src=<%= review.picture %>></p>
  <p><%= button_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit", method: :get %>
  <%= button_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %></p>
</section>
<% end %>
  <br>
    <br>
<p><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new" %></p>

<h1>Stats:</h1>
<h3>Pets at this shelter:</h3> <p><%= @shelter.total_pet_count %></p>
<h3>Open applications:</h3> <p><%= @shelter.total_app_count %></p>
<h3>Avg rating:</h3> <p><%= @shelter.avg_rating %></p>
