<%= link_to 'Back', "/shelters" %>
  <br>
  <br>
<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>
  <br>
<h3>Available Pets:</h3>
<%= link_to "#{@shelter.name} Pets", "/shelters/#{@shelter.id}/pets" %>
<h3>Address:</h3>
   <p><%= @shelter.address %></p>
<h3>City:</h3>
  <p><%= @shelter.city %></p>
<h3>State:</h3>
  <p><%= @shelter.state %></p>
<h3>Zip:</h3>
  <p><%= @shelter.zip %></p>
  <br>
  <br>
<%= button_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
