<h1><%= @shelter.name %></h1>

<h3>Address:</h3>
   <p><%= @shelter.address %></p>
<h3>City:</h3>
  <p><%= @shelter.city %></p>
<h3>State:</h3>
  <p><%= @shelter.state %></p>
<h3>Zip:</h3>
  <p><%= @shelter.zip %></p>
