<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %>:</h1>

<h2>Available Pets:</h2>
  <p><%= link_to "#{@shelter.name} Pets", "/shelters/#{@shelter.id}/pets" %></p>

<h2>Address:</h2>
  <p><%= @shelter.address %></p>

<h2>City:</h2>
  <p><%= @shelter.city %></p>

<h2>State:</h2>
  <p><%= @shelter.state %></p>

<h2>Zip:</h2>
  <p><%= @shelter.zip %></p>

  <br>
    <br>

<h2>Reviews:</h2>
<% @reviews.each do |review| %>
<section id="review-<%= review.id %>">
  <p><%= review.title %></p>
  <p><%= review.rating %>/5 Stars!</p>
  <p><%= review.content %></p>
  <p><%= review.picture %></p>

  <%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %>
  <%= button_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %>
</section>
<% end %>

<%= button_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
<%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new" %>
