<h1>Application for:</h1>

  <h1><%= link_to "#{@application.name}", "/applications/#{@application.id}" %></h1>
  <p><%= @application.address %></p>
  <p><%= @application.city %></p>
  <p><%= @application.state %></p>
  <p><%= @application.zip %></p>
  <p><%= @application.phone_number %></p>
  <p><%= @application.description %></p>
    <br><br>
  <h2>Pets applied for:</h2>

  <% @applied_pets.each do |app_pet| %>
    <section id = "pet-<%= app_pet.id %>">
      <% if app_pet.adoption_status == "Adoptable" %>
        <h3><%= link_to "#{app_pet.name}", "/pets/#{app_pet.id}" %></h3>
        <%= button_to 'Approve', "/applications/#{@application.id}/pets/#{app_pet.id}", method: :patch %>
      <% else %>
        <h3><%= link_to "#{app_pet.name}", "/pets/#{app_pet.id}" %></h3>
        <%= button_to 'Revoke Application', "/applications/#{@application.id}/pets/#{app_pet.id}", method: :patch %>
      <% end %>
    </section>
  <% end %>
