<h1>Application for:</h1>

  <h1><%= @application.name %></h1>
  <p><%= @application.address %></p>
  <p><%= @application.city %></p>
  <p><%= @application.state %></p>
  <p><%= @application.zip %></p>
  <p><%= @application.phone_number %></p>
  <p><%= @application.description %></p>
    <br><br>
  <h2>Pets applied for:</h2>

  <% @applied_pets.each do |app_pet| %>
    <section id = "pet-<%= app_pet.id %>">
      <h3><%= link_to "#{app_pet.name}", "/pets/#{app_pet.id}" %></h3>
      <% if app_pet.adoption_status != "Adoption Pending..." %>
        <p><%= button_to 'Approve', "/applications/#{@application.id}/pets/#{app_pet.id}", method: :patch %></p>
      <% end %>
    </section>
  <% end %>
