<h1>Edit Pet</h1>
<p>(please complete all sections)

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <%= label_tag :image %>
  <br>
  <%= text_field_tag :image %>
  <br><br>
  <%= label_tag :name %>
  <br>
  <%= text_field_tag :name %>
  <br><br>
  <%= label_tag :description %>
  <br>
  <%= text_field_tag :description %>
  <br><br>
  <%= label_tag :age %>
  <br>
  <%= text_field_tag :age %>
  <br><br>
  <%= label_tag :sex %>
  <br>
  <%= text_field_tag :sex %>
  <br><br>
  <%= submit_tag 'Make Changes' %>
<% end %>
