<h1>Edit Pet:</h1>
<p>(please complete all sections)

<section>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
<h3><%= label_tag :image %>:  <%= text_field_tag :image %></h3>

<h3><%= label_tag :name %>:  <%= text_field_tag :name %></h3>

<h3><%= label_tag :description %>:  <%= text_field_tag :description %></h3>

<h3><%= label_tag :age %>:  <%= text_field_tag :age %></h3>

<h3><%= label_tag :sex %>:  <%= text_field_tag :sex %></h3>

<h3><%= submit_tag 'Make Changes' %></h3>
<% end %>

</section>
