<% if @shelter %>
  <h1><%= link_to "#{@shelter.name}" %> Pets:</h1>
  <br><br>
    <h1><%= link_to "**New Pet**", "/shelters/#{@shelter.id}/pets/new" %></h1>
<% else %>
  <h1>Pets:</h1>
<% end %>

  <body>
    <% @pets.each do |pet| %>
      <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <img src=<%= pet.image %>>
      <h3>Age: </h3>
        <p><%= pet.age %> years</p>
      <h3>Sex: </h3>
        <p><%= pet.sex %></p>
      <h3>Description: </h3>
         <p><%= pet.description %></p>
      <h3>Adoption Status: </h3>
        <p><% if pet.adoptable == true %>
          Adoptable
        <% else %>
          Adoption pending...
      <% end %></p>
      <%= button_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
      <%= button_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
    <br><br>
  </body>
<% end %>
