<%= link_to 'Home', "/" %>
<h1>All Pets</h1>
<br><br>
<% @pets.each do |pet| %>
  <img src=<%= pet.image %>>
  <h3>Name: <%= pet.name %>
  <%= button_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Description: <%= pet.description %></p>
  <p>Adoption Status:
    <% if pet.status == true %>
      Adoptable
    <% else %>
      Adoption pending...
  <% end %></p>
  <br><br>
<% end %>
