<h1>Pets Index</h1>

<% @pets.each do |pet| %>
  <img src=<%= pet.image %>>
  <h3>Name: <%= pet.name %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Description: <%= pet.description %></p>
  <p>Adoption Status:
    <% if pet.status == true %>
      Adoptable!
    <% else %>
      Adoption pending...
  <% end %></p>
  <br><br>
<% end %>
