<h1>Pets Index</h1>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <img src=<%= pet.image %>>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Shelter: <%= pet.shelter_id %></p>
  <p>Adoption Status: Adoptable</p>
<% end %>

<br>
