<h1>New Pet for: <%= @shelter.name %></h1>

<section>

<%= form_tag "/shelters/#{@shelter.id}/pets", method: :post do %>
  <h3><%= label_tag :image %>:  <%= text_field_tag :image, "Empty" %></h3>

  <h3><%= label_tag :name %>:  <%= text_field_tag :name %></h3>

  <h3><%= label_tag :description %>:  <%= text_field_tag :description %></h3>

  <h3><%= label_tag :age %>:  <%= text_field_tag :age %></h3>

  <h3><%= label_tag :sex %>:  <%= text_field_tag :sex %></h3>

  <h3><%= submit_tag 'Add Pet' %></h3>
<% end %>

</section>
