<h1><%= link_to "#{@pet.name}" %>:</h1>
   <img src= <%= @pet.image %>>

<h2>Description: </h2>
  <p><%= @pet.description %></p>

<h2>Approximate Age: </h2>
  <p><%= @pet.age %> years</p>

<h2>Sex: </h2>
  <p><%= @pet.sex %></p>

<h2>Adoption Status: </h2>
  <p><% if @pet.adoption_status == "Adoptable" %>
    <%= @pet.adoption_status %>
    <% else %>
    Adoption Pending...
    Pet is on hold for:
      <% @pet.applications.each do |application| %>
        <%= application.name %>
      <% end %>
    <% end %>
  </p>

<% if favorites.favorite_pets.include?((@pet.id).to_s) %>
  <%= button_to "Remove Favorite", "/favorites/#{@pet.id}", method: :delete %>
  <% else %>
  <%= button_to "Favorite", "/favorites/#{@pet.id}" %>
<% end %>
<br><br>
<%= button_to "Edit Pet", "/pets/#{@pet.id}/edit" %>
<% if @pet.adoption_status == "Adoptable" %>
<%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
<% end %>
<%= link_to "View applications for this pet", "/pets/#{@pet.id}/applications" %>
