<h1>Edit Shelter Review:</h1>

<section>

  <%= form_tag "/shelters/#{@shelter}/reviews/#{@review.id}", method: :patch do %>
    <h3><%= label_tag :title %>:  <%= text_field_tag :title, @review.title %></h3>

    <h3><%= label_tag :rating %>:  <%= text_field_tag :rating, @review.rating %></h3>

    <h3><%= label_tag :content %>:  <%= text_field_tag :content, @review.content %></h3>

    <h3><%= label_tag :picture %>:  <%= text_field_tag :picture, @review.picture %></h3>

    <%= submit_tag 'Save Review' %>
  <% end %>

</section>
