<h1>New Shelter Review:</h1>

<section>

  <%= form_tag "/shelters/#{@shelter.id}", method: :post do %>
    <h3><%= label_tag :title %>:  <%= text_field_tag :title%></h3>

    <h3><%= label_tag :rating %>:  <%= text_field_tag :rating, "(1-5)"%></h3>

    <h3><%= label_tag :content %>:  <%= text_field_tag :content%></h3>

    <h3><%= label_tag :picture %>:  <%= text_field_tag :picture%></h3>

    <%= submit_tag 'Create' %>
  <% end %>

</section>
