<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <header>
      <%= link_to 'Home', "/" %>
      <br><br>
      <%= link_to "All Shelters", "/shelters" %>
      <br>
      <%= link_to "All Pets", "/pets" %>
      <br><br>
      <nav id = 'nav'>
        <%= link_to "Favorites Count (#{favorites.total_count})", '/favorites' %>
      </nav>
    </header>



    <% flash.each do |type, message| %>
      <%= message %>
    <% end %>

      <%= yield %>
  </body>

</html>
