<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <%= link_to 'Home', "/" %>
    <br><br>
    <%= link_to "All Shelters", "/shelters" %>
    <br>
    <%= link_to "All Pets", "/pets" %>
    <br><br>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
